html, body{

    width: 100%;
    height: 100%;
    margin: 1px;

}


.__execerise_name{
    display: flex;
    flex-direction: column;


    background-color: rgb(160, 160, 160);
    border-radius: black 50px;
    padding: 4px;
    margin:10px;

}